<section id="about" class="about">
    <div class="about-container">
        <div class="about-content">
            <h3 class="section-title"><%= t('slip.about.title') %></h3>
            <div class="about-text">
                <p class="about-description">
                    <%= t('slip.about.description.first') %>
                </p>
                <p class="about-description">
                    <%= t('slip.about.description.second') %>
                </p>
            </div>
            <div class="about-features">
                <div class="about-feature">
                    <h4><%= t('slip.about.features.simple.title') %></h4>
                    <p><%= t('slip.about.features.simple.body') %></p>
                </div>
                <div class="about-feature">
                    <h4><%= t('slip.about.features.offline.title') %></h4>
                    <p><%= t('slip.about.features.offline.body') %></p>
                </div>
                <div class="about-feature">
                    <h4><%= t('slip.about.features.no_fee.title') %></h4>
                    <p><%= t('slip.about.features.no_fee.body') %></p>
                </div>
            </div>
        </div>
    </div>
</section>
