<nav class="tutorial-sidebar-nav">
    <p class="tutorial-sidebar-title"><%= t('slip.tutorial_sidebar.title') %></p>
    <ul class="tutorial-sidebar-list">
        <li><a href="<%= localized_path('/slip/tutorial/') %>"><%= t('slip.tutorial_sidebar.items.overview') %></a></li>
        <li><a href="<%= localized_path('/slip/tutorial/menu-import-with-chatgpt/') %>"><%= t('slip.tutorial_sidebar.items.menu_import') %></a></li>
        <li class="is-disabled"><span><%= t('slip.tutorial_sidebar.items.printer') %></span></li>
        <li class="is-disabled"><span><%= t('slip.tutorial_sidebar.items.opening') %></span></li>
        <li class="is-disabled"><span><%= t('slip.tutorial_sidebar.items.catalog') %></span></li>
        <li class="is-disabled"><span><%= t('slip.tutorial_sidebar.items.shift') %></span></li>
    </ul>
</nav>
