<!doctype html>
<html lang="<%= I18n.locale.to_s %>">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <% page_title = current_page.data.title_key ? t(current_page.data.title_key) : current_page.data.title %>
        <title><%= page_title || t('home.meta.title') %></title>
        <%= partial "analytics" %>
        <%= stylesheet_link_tag "site" %>
    </head>
    <body class="home-page">
        <%= yield %>
    </body>
</html>
